.welcome-page {
    width: 376px;
    height: 687px; 
    background-image: url('../images/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px 0px;
}